<div>
  <%= form_with model: @passenger, class: 'passenger-form'  do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>
      <%= f.submit action_name %>
  <% end %>
</div>